{% extends "mainsite/base.html" %}
{% block content %}
<div class="col-lg-12">
    <div class="row">
        <h1> {{ band.name }}</h1>
    </div>
    <div class="row">
        <p>{{ band.description }}</p>
    <div>
    <div class="row">
        <h2>Members</h2>
        {% for member in band.members.all %}
            <p>{{ member.first_name }} {{ member.last_name }} on {{ member.instrument }}</p>
        {% endfor %}
    </div>
    <p><a class="btn btn-primary" href="{% url 'mainsite-bands' %}" role="button">Back to List of Bands</a></p>

</div>
{% endblock content %}