{% extends "mainsite/base.html" %}
{% block content %}
<div class="col-lg-12">
    <div class="row">
        <h1> Bands we know! </h1>
    </div>
    <div class="container">
        <a type="button" class="btn btn-primary" href="{% url 'mainsite-add-band' %}">Add Band</a>
        <a type="button" class="btn btn-primary" href="{% url 'mainsite-add-band-member' %}">Add Band Member</a>
    </div>
    {% for band in bands %}
    <div class="col-lg-12">
        <h2>{{ band.name }}</h2>
        <p>{{ band.description }}</p>
        <p><a class="btn btn-primary" href="{% url "mainsite-band" band.name %}" role="button">View details</a></p>
    </div>    
    {% endfor %}
</div>
{% endblock content %}