{% extends "mainsite/base.html" %}
{% block content %}
<div class="col-lg-10">
    <div class="row">
        <h1> Gigs! </h1>
        {% if user.is_authenticated and user.is_staff %}
        <div>
            <p><a class="btn btn-primary" href="{% url 'mainsite-add-gig' %}">Add a Gig!</a></p>
        </div>    
    {% endif %}
    </div>
    
    <div class="row">
        <h3> Info for all our latest live listings </h3>
    </div>

    {% for gig in gigs %}
    <div class="row">
        <div class="col-lg-10">
            <h3><b><u> {{ gig.venue }} </b></u></h3>
            <h5> {{ gig.date }}, {{ gig.time }} : £{{ gig.price }} </h5>
            {% if gig.support is not None %}
                <h6>Playing with : </h6>
                {% for support in gig.support.all %}
                    {{ support.name }}
                {% endfor %}
            {% endif %}
            {{ gig.description }} 
            
        </div>
    </div>
    {% endfor %}
{% endblock content %}